* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* border: 1px solid white; */
  list-style: none;
}

body {
  padding: 20px;
  width : 100%;
  background-color: black;
  color: white;
}

body .judul {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.container {
  widht: 100%;
  margin-top  : 150px;
  padding: 50px 20px;
  box-shadow:0px 1px 10px 1px white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .containerTodo {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container .containerTodo h1 {
  padding-top: 20px;
  font-size:20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container .containerTodo .inputUser {
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

.container .containerTodo .inputUser input, 
.container .containerTodo .inputUser button {
  border: none;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.container .containerTodo .inputUser button {
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.container .containerTodo .inputUser input:hover {
  outline: 3px solid green;
}



/* hasil */

.container .hasil {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .hasil #list {
  width: 70%;
}

.container .hasil li {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.container .hasil .btnSelesai, .btnHapus {
  width: 30%;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.container .hasil .btnSelesai:hover {
  background-color: green;
  color: white;
  font-weight: bold;
}

.container .hasil .btnHapus:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}


/* Responsive */


@media screen and (min-width: 768px) and (max-width: 1024px) {
  body .judul {
    font-size: 60px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    width: 70%;
    padding:50px 20px;
  }
}

@media screen and (min-width: 1024px){
  body .judul {
    font-size: 60px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    width: 70%;
    padding:50px 20px;
  }
}
